.login-container {
    width: 350px;
    border: 1px solid #eaeaea;
    margin: 180px auto;
    padding: 35px 35px 15px 35px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 25px #cac6c6;
    box-sizing: border-box;
}

.login-container .login_title {
    text-align: center;
    margin-bottom: 40px;
    color: #505458;
    font-size: 20px;
}

.login-container .el-input {
    width: 198px;
}

.login-container .login-button {
    text-align: center;
}

.register-link {
    color: #007BFF; /* 深蓝色 */
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    position: relative;
    top:1rem;
  }
  
  .register-link:hover {
    color: #0056b3; /* 更深蓝色，鼠标悬停时 */
  }
  