.container {
  text-align: center;
  background-color: #fff;
  padding: 3rem; /* 增加内边距 */
  border-radius: 12px; /* 增加圆角大小 */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* 增加阴影 */
  height: auto;
  max-width: 800px; /* 增加最大宽度 */
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; /* 增加底部外边距 */
}

.form-item-input {
  margin-right: 1rem; /* 增加右边距 */
}

.form-item-select {
  margin-right: 1rem; /* 增加右边距 */
}

.set-button {
  padding: 0.75rem 1.5rem; /* 增加按钮内边距 */
  font-size: 1.25rem; /* 增加按钮文字大小 */
  border: none;
  border-radius: 6px; /* 增加按钮圆角大小 */
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.set-button:hover {
  background-color: #0056b3;
}

.countdown {
  font-size: 15rem; /* 增加倒计时文字大小 */
  font-weight: bold;
  margin-bottom: 3rem; /* 增加底部外边距 */
  color: #28a745;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); /* 增加文字阴影 */
}

.buttons {
  display: flex;
  justify-content: center;
}

.control-button {
  padding: 0.75rem 1.5rem; /* 增加按钮内边距 */
  font-size: 1.25rem; /* 增加按钮文字大小 */
  border: none;
  border-radius: 6px; /* 增加按钮圆角大小 */
  margin-right: 1rem; /* 增加右边距 */
  cursor: pointer;
  background-color: #F96F71;
  color: white;
}

.control-button:hover {
  background-color: #5a6268;
}

.control-button:disabled {
  background-color: #c8c9ca;
  cursor: not-allowed;
}


  