
  .container {
    
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 70vh;
    
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .time-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 0.5rem;
  }
  
  .format-select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 0.5rem;
  }
  
  .set-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .set-btn:hover {
    background-color: #0056b3;
  }
  
  .countdown {
    font-size: 12rem;  
    font-weight: bold;
    margin-bottom: 6rem; 
    color: #28a745;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  
  .stop-btn,
  .reset-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    margin-right: 0.5rem;
    cursor: pointer;
    background-color: #F96F71;
    color: white;
  }
  
  .stop-btn:hover,
  .reset-btn:hover {
    background-color: #5a6268;
  }
  
  .stop-btn:disabled,
  .reset-btn:disabled {
    background-color: #c8c9ca;
    cursor: not-allowed;
  }
  